@charset "UTF-8";

/********************************************************************************************
 Medium devices (desktops, 768px and up) 
 @media (min-width: @screen-md-min) {
********************************************************************************************/
@media only screen and (min-width: 768px) {

	
}

/********************************************************************************************
 Medium devices (desktops, 992px and up) 
 @media (min-width: @screen-md-min) {
********************************************************************************************/
@media only screen and (min-width: 992px) {


	
}

/********************************************************************************************
 Large devices (large desktops, 1200px and up) 
 @media (min-width: @screen-lg-min) {
********************************************************************************************/
@media only screen and (min-width: 1200px) {
	#contentsList {}
	#contentsList.content li {float: left; width: 190px; height: 180px; padding: 10px; overflow: hidden;}
	#contentsList.product li {float: left; width: 190px; height: 275px; padding: 10px; overflow: hidden;}
	#contentsList li .cont_brand {font-size: 11pt; color:#9d9d9d;}
	#contentsList li .cont_title {font-size: 11pt; overflow: hidden;}
	#contentsList li .cont_price {font-size: 10pt;}
	#contentsList li .cont_buy_btn {font-size: 11pt; width: 50px; height: 20px; background-color: #ea0465; color: #fff;}
	
	
	#contentKindMenu ul {width: 420px;margin: 0 auto;}
	#contentKindMenu ul li{float: left; width: 70px; height: 30px; padding: 5px;text-align:center;cursor:pointer;}
	#contentKindMenu ul li a:hover{color: #ea0465;}
	#contentKindMenu ul li.active {background-image: url(../../images/page_sub_menu_on.png); background-repeat: no-repeat; background-position: bottom;}
	
	#pageBody #btnMore {margin-top: 30px; margin-bottom: 30px;}

}