@charset "UTF-8";

/********************************************************************************************
 Medium devices (desktops, 768px and up) 
 @media (min-width: @screen-md-min) {
********************************************************************************************/
@media only screen and (min-width: 768px) {

	
}

/********************************************************************************************
 Medium devices (desktops, 992px and up) 
 @media (min-width: @screen-md-min) {
********************************************************************************************/
@media only screen and (min-width: 992px) {


	
}

/********************************************************************************************
 Large devices (large desktops, 1200px and up) 
 @media (min-width: @screen-lg-min) {
********************************************************************************************/
@media only screen and (min-width: 1200px) {
	#contnetsArea{padding-right: 10px;}
	#MoviePlayer{height: 400px;}
	#productAndTagArea{padding: 10px;border-top:1px solid #efefef;}

	#contentsDesc #channelTitle {font-size: 14pt; font-weight: bold; color: #ea0465;}
	#contentsDesc #contentTitle {font-size: 14pt; font-weight: bold; margin-bottom: 10px;}
	#contentsDesc #contentDesc {font-size: 9pt;}
	
	#contentEval {margin-top: 20px;}
	#contentEval #contentsEvalGroup label {background-color: #9d9d9d; color: #fff; height: 50px;}
	#contentEval #contentsEvalGroup .btn-default:hover {background-color: #ea0465;}
	#contentEval #contentsEvalGroup .btn-default.active {background-color: #ea0465;}
	
	#RPList li{padding:2px; float:left;width:70px;height:70px;overflow:hidden;cursor:pointer;}
	#RPList li .cover{display:none;position:relative;z-index:10000;top:-70px;width:70px; height:70px;background-image:url(../../images/relative_product_cover.png);opacity:0.7;font-size:9px;color:#fff;text-align:center;padding-top:10px;}
	#RPList li .cover a{color:#fff;}

	#tagContent {max-height: 215px; overflow: auto; font-size: 9pt;}
	#tagList li{margin: 1px 2px;padding:3px;color:rgb(237,55,132);float:left;border:1px solid rgb(237,55,132);}
	#tagList li a{color:rgb(237,55,132);}
	
	#onairList li { height: 65px; margin-top: 5px;}
	#onairList .onair-thumbnail {width: 110px;}
	#onairList .onair-desc {width: 100px;}
	#onairList .channel-title {font-size: 9pt; font-weight: bold; color: #ea0465;}
	#onairList .content-title {font-size: 8pt;}
	
	#onairListLayer ul {height: 170px; overflow: hidden;}
	#onairListLayer ul li {overflow: hidden; padding: 10px;}
	#onairListLayer .channel-title {font-size: 9pt; font-weight: bold; color: #ea0465;}
	#onairListLayer .content-title {font-size: 8pt;}
	
	.replyCnt {font-weight: bold; color: #ea0465;}
	
	#replyWriteFormLayer {}
	#replyWriteFormLayer #replyWriteProfilePhoto {width: 70px; height: 70px; margin-left:20px; margin-right: 20px;}
	#replyWriteFormLayer #replyWriteProfilePhoto #myProfileCover {position: relative; top: -70px; width: 70px; height: 70px;}
	#replyWriteForm {margin-top: 5px;}
	#replyWriteForm input {border: 1px solid #ea0465; height: 50px;}
	#replyWriteForm button {background-color: #000; height: 50px; border-radius: 0;color: #fff; font-size: 10pt;}
	
	#replyListLayer {padding-left: 110px;}
	#replyListLayer .replyName {font-weight: bold; color: #ea0465; margin-right: 10px;}
	#replyListLayer .replyMemo {font-size: 10pt;}
	#replyListLayer .replyRegTime {margin-left: 20px; font-size: 9pt;}
	#replyListLayer #btnReplyMore {background-color: #fff; border: 1px solid #9d9d9d; margin-top: 20px;}
}